@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.container-md{
    width: 75vw;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.col-sm-4{
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#hotel-pic{
    width: 286px;
    height: 200px;
}



/* nav bar style */
.nav-container{
    display: flex;
    height: 59px;
    align-items: center;
    background-color: #F1F6FA;
    gap: 25px;
    padding: 0 120px;

}
.items:nth-of-type(1){
    flex-grow: 1;
}

#logo{
    width: 50px;
}


.nav-container .items a{
    color: #3A483F;
    font-weight: 500;
    text-decoration: none;
}
#logoavatar{
    width: 22px;
    
}

#btns{
    width: 90px;
    height: 34px;
    border-radius: 25px;
    border: none;
    background-color: #1B3333;
    cursor: pointer;
    transition: 500ms;
    padding: 4px 8px;
    font-size: 14px;
    color:#fff;
}

::-webkit-scrollbar {
    width: 0px;
}


#dash{
    font-size: 12px;
    font-weight: bold;
}

#login{
    width: 70px;
    height: 34px;
    background-color: #DE064F;
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: 300ms;
}
#login:hover{
    transform: scale(1.06);
    background-color: #9BC7E2;
    color: #000;
}

/* style of cards */

.mobile{
    display: flex;
    justify-content: space-around;
}

#btncard{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* display features style */

.display{
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    border-radius: 16px 16px 0px 0px;
    height: 46px;
    transition: 900ms;
    display: flex; 
    padding: 9px 0;
    justify-content: space-around;
    
}

.display:hover{
    background-color: #fff;
}

